{% extends '::base.html.twig' %}
{% block header %}
    {% include 'FPCMSBundle:layout:header.html.twig' %}
{% endblock %}
{% block body %}
    {#<div id="wrapper"> #}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Liste des examens en attente
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Liste des examens
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            {% for flashMessage in app.session.flashbag.get('droitConsultation') %}
                                <div id="message" class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <strong>Attention:</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('modifPatient') %}
                                <div id="message" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <strong>Succes:</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('ajoutPatient') %}
                                <div id="message" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <strong>Succes:</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {# ------------ #}
                        <table width="100%"
                               class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Code consultation</th>
                                {# <th>Email</th> #}
                                <th>Type Examen</th>
                                {#<th>Prenom et nom patient</th>#}
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for consult in tabconsult %}
                                <tr class="gradeA">

                                    <td> {{ consult.numeroconsultation }}</td>
                                    <td>
                                        {% for byconsult in examsByConsult %}
                                            {% for item in byconsult %}
                                                {% if consult.numeroconsultation == item.numeroconsultation %}
                                                    {{ item.nomTypeExamen }} <br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </td>

                                    {#<td> {{dump(ok)}}</td>#}
                                    {#<td>{{exam.nomTypeExamen}}</td>#}
                                    <td class="center">
                                        {% if app.user.typeuser.profil != 'Secretaire' %}
                                            <a href="{{ path('createexams',
                                                {'numeroconsult': consult.numeroconsultation}) }}"
                                               title="Examiner">
                                                <i class="fa fa-flask btn btn-sm btn-warning" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% if consult.actif == null %}
                                                <button data-idconsult="{{ consult.numeroconsultation }}"
                                                        class="btn btn-danger approuver"><i
                                                            class="fa fa-thumbs-down"></i> En attente
                                                </button>
                                            {% else %}
                                                <button data-idconsult="{{ consult.numeroconsultation }}"
                                                         class="btn btn-success desapprouver">
                                                    <i class="fa fa-thumbs-up"></i>  Valider
                                                </button>
                                                <a href="{{ path('printrecuexam', {'numconsult': consult.numeroconsultation}) }}"
                                                        class="btn btn-xs btn-warning" title="Imprimer">
                                                    <i class="fa fa-print"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                    {#{{ dump(byconsult) }}#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


{% endblock %}