{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medicament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Nommedicament</th>
                <td>{{ medicament.nomMedicament }}</td>
            </tr>
            <tr>
                <th>Posologie</th>
                <td>{{ medicament.posologie }}</td>
            </tr>
            <tr>
                <th>Actiontherapeutique</th>
                <td>{{ medicament.actionTherapeutique }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ medicament.presentation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medicament_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medicament_edit', { 'id': medicament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
