{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordonnances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Indication</th>
                <th>Quantite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td><a href="{{ path('ordonnance_show', { 'id': ordonnance.id }) }}">{{ ordonnance.id }}</a></td>
                <td>{{ ordonnance.indication }}</td>
                <td>{{ ordonnance.quantite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordonnance_show', { 'id': ordonnance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ordonnance_edit', { 'id': ordonnance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordonnance_new') }}">Create a new ordonnance</a>
        </li>
    </ul>
{% endblock %}
