<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if nouveau_medicament %}
                    <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un nouveau medicament
                {% else %}
                    <i class="fa fa-edit" aria-hidden="true"></i> Modifier un medicament
                {% endif %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            {{ form_start(form) }}
                            {# Les erreurs générales du formulaire. #}
                            {{ form_errors(form) }}
                            {# Génération du champ type. #}
                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.type_medicament, "Type Medicament") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(form.type_medicament) }}
                                {# Génération de l'input. #}
                                {{ form_widget(form.type_medicament, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {# Génération du champ numéro de projet. #}
                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.nomMedicament, "Nom du medicament") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(form.nomMedicament) }}
                                {# Génération de l'input. #}
                                {{ form_widget(form.nomMedicament, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {# Génération du champ numéro de projet. #}
                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.posologie, "Posologie") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(form.posologie) }}
                                {# Génération de l'input. #}
                                {{ form_widget(form.posologie, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {# Génération du champ date projet. #}
                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.actionTherapeutique, "Action therapeutique") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(form.actionTherapeutique) }}
                                {# Génération de l'input. #}
                                {{ form_widget(form.actionTherapeutique, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {# Génération du champ bureau. #}
                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.presentation, "Presentation") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(form.presentation) }}
                                {# Génération de l'input. #}
                                {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-offset-4">
                                <a href="{{ path('medicament_index') }}" class="btn btn-outline btn-danger">
                                    <i class="fa fa-ban"></i> Annuler
                                </a>
                                <button type="submit" class="btn btn-outline btn-success">
                                    {% if nouveau_medicament %}
                                        <i class="fa fa-plus"></i> {{ button_label }}
                                    {% else %}
                                        <i class="fa fa-save"></i> {{ button_label }}
                                    {% endif %}
                                </button>
                            </div>
                            {# Génération automatique des champs pas encore écrits. #}
                            {{ form_rest(form) }}
                            {# Fermeture de la balise <form> du formulaire HTML #}
                            {{ form_end(form) }}

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>


            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
