<!-- Modal -->
<div class="modal fade" id="oneMedicament" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {% if nouveau_medicament %}
                        <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un medicament
                    {% else %}
                        <i class="fa fa-edit" aria-hidden="true"></i> Modifier
                    {% endif %}
                </h4>
            </div>
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(formOrdonnance) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-9 form-group" id="prefetch">
                                {# Génération du label. #}
                                {{ form_label(formOrdonnance.medicament, "Medicament") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(formOrdonnance.medicament) }}
                                {# Génération de l'input. #}
                                {{ form_widget(formOrdonnance.medicament, {'id': 'medicSelected',
                                    'attr': {'class': 'form-control tag-input-medic'}}) }}
                            </div>
                            <div class="col-md-3 form-group">
                                {# Génération du label. #}
                                {{ form_label(formOrdonnance.nombreunite, "Unité") }}
                                {# Affichage des erreurs du champs. #}
                                {{ form_errors(formOrdonnance.nombreunite) }}
                                {# Génération de l'input. #}
                                {{ form_widget(formOrdonnance.nombreunite, {'id': 'unite',
                                    'attr': {'class': 'form-control', 'min': 0}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <fielset>
                                <legend><strong style="color: #3f903f; font-size: 15px;">Posologie</strong></legend>
                                <div class="form-group col-md-3">
                                    {# Génération du label. #}
                                    {{ form_label(formOrdonnance.quantite, "Qté prise") }}
                                    {# Affichage des erreurs du champs. #}
                                    {{ form_errors(formOrdonnance.quantite) }}
                                    {# Génération de l'input. #}
                                    {{ form_widget(formOrdonnance.quantite, {'id': 'quantite',
                                        'attr': {'class': 'form-control', 'min': 0}}) }}
                                </div>

                                <div class="form-group col-md-9">
                                    {# Génération du label. #}
                                    {{ form_label(formOrdonnance.indication, "Moment de prise") }} <br>
                                    {# Affichage des erreurs du champs. #}
                                    {{ form_errors(formOrdonnance.indication) }}
                                    {# Génération de l'input. #}
                                    {{ form_widget(formOrdonnance.indication, {'id': 'indication',
                                        'attr': {'class': 'form-control'}}) }}
                                </div>
                            </fielset>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div id="messageSuccess" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Ajout bien effectué
                    </div>
                    <div id="messageError" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Veuillez remplir tous les champs
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {% if nouveau_medicament %}
                <button id="addMedic" type="button" data-id="{{ patient.id }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{ button_label }}
                </button>
                {% else %}
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-save"></i> {{ button_label }}
                    {% endif %}
                </button>
            </div>
            {# Génération automatique des champs pas encore écrits. #}
            {{ form_rest(formOrdonnance) }}
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(formOrdonnance) }}

        </div>
    </div>
</div>
