<div class="col-lg-6">

  {{ form_start(form) }}
      {# Les erreurs générales du formulaire. #}
      {{ form_errors(form) }}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.type_user) }}
        {# Affichage des erreurs du champs. #}
        {{ form_errors(form.type_user) }}
        {# Génération de l'input. #}
        {{ form_widget(form.type_user, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.username, "Username") }}
        {# Affichage des erreurs du champs. #}
        {{ form_errors(form.username) }}
        {# Génération de l'input. #}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>
      <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.email, "email") }}
        {# Affichage des erreurs du champs. #}
        {{ form_errors(form.email) }}
        {# Génération de l'input. #}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
      </div>
      {# Génération du champ numéro de projet. #}
      <div class="form-group">
        {# Génération du label. #}
          {{ form_label(form.nom, "Nom") }}
        {# Affichage des erreurs du champs. #}
          {{ form_errors(form.nom) }}
        {# Génération de l'input. #}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>

  </div>
  <div class="col-lg-6">
      {# Génération du champ date projet. #}
      <div class="form-group">
        {# Génération du label. #}
          {{ form_label(form.prenom, "Prenom") }}
        {# Affichage des erreurs du champs. #}
          {{ form_errors(form.prenom) }}
        {# Génération de l'input. #}
          {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
      </div>
      {# Génération du champ bureau. #}
      <div class="form-group">
        {# Génération du label. #}
          {{ form_label(form.genre, "Genre") }}
        {# Affichage des erreurs du champs. #}
          {{ form_errors(form.genre) }}
        {# Génération de l'input. #}
          {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
      </div>
      {# Génération du champ date publication. #}
      <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.service, 'Unité') }}
        {# Affichage des erreurs du champs. #}
        {{ form_errors(form.service) }}
        {# Génération de l'input. #}
        {{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
      </div>  
      {#<div class="form-group">#}
        {# Génération du label. #}
        {#{{ form_label(form.specialite) }}#}
        {# Affichage des erreurs du champs. #}
        {#{{ form_errors(form.specialite) }}#}
        {# Génération de l'input. #}
        {#{{ form_widget(form.specialite, {'attr': {'class': 'form-control'}}) }}#}
      {#</div>    #}
      <button type="submit" class="btn btn-default">
        {% if nouveau_medecin %}
          <i class="fa fa-plus"></i> {{ button_label }}
        {% else %}
          <i class="fa fa-save"></i> {{ button_label }}
        {% endif %}
      </button>     
      {# Génération automatique des champs pas encore écrits. #}
      {{ form_rest(form) }}    
    {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

  </div>