{{ form_start(form) }}


{# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

{# Génération du champ bureau. #}
<div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.autres, "autres") }}
    {# Affichage des erreurs du champs. #}
    {{ form_errors(form.autres) }}
    {# Génération de l'input. #}
    {{ form_widget(form.autres, {'attr': {'class': 'form-control'}}) }}
</div>
<button type="submit" class="btn btn-default">
        <i class="fa fa-plus"></i> {{ button_label }}
</button>
{# Génération automatique des champs pas encore écrits. #}
    {{ form_rest(form) }}
  {# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}