{% extends '::base.html.twig'%}
{% block header %}
    {% include 'FPCMSBundle:layout:header.html.twig' %}
{% endblock %}
{% block body %}
    {#<div id="wrapper"> #}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Liste des examens</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {#Liste des types d'examen#}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            {% for flashMessage in app.session.flashbag.get('typeexam') %}
                                <div id="message" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Succes:</strong>  {{ flashMessage }}
                                </div>
                            {% endfor %}
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Type examen</th>
                                <th>Nom examen</th>
                                <th>Prix</th>
                                {#<th>Unite</th>#}
                                {#<th>Valeur maximale</th>#}
                                {#<th>Valeur minimale</th>#}
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for typeExaman in typeExamens %}
                                <tr class="gradeA">
                                    <td>{{ typeExaman.supertypeexamen.nom }}</td>
                                    <td>{{ typeExaman.nomTypeExamen }}</td>
                                    <td>{{ typeExaman.prix }}</td>
                                    {#<td>{{ typeExaman.unite }}</td>#}
                                    {#<td>{{ typeExaman.valeurmaximale }}</td>#}
                                    {#<td>{{ typeExaman.valeurminimal }}</td>#}
                                    <td class="center"> <a href="{{path('typeexamen_edit', {id:typeExaman.id})}}" title="Modifier"><i class="fa fa-edit btn btn-sm btn-primary" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}
